/*-- scss:rules --*/
h1 {
    font-size: 1.75rem !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: rgba(24, 22, 34);
    font-weight: 700 !important;
}

p {
    font-family: 'Inter', sans-serif;
    color: rgba(24, 22, 34);
}